<!DOCTYPE html>
<html>
<head>
  <title>Forum || <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="./index.html">Home</a>
              </li>
              <li class="">
                <a href="./index.html">Register</a>
              </li>
              <li class="">
                <a href="./index.html">Login</a>
              </li>
            </ul>
        </div>
      </div>
     </div>
</div>
<div class="container well" style=" margin-top: 30px; ">
<%= yield %>

</div>
</body>
</html>
